.display {
  font-family: "DM Serif Display", serif;
  font-size: 85px;
  line-height: 125%;
  color: #292f36;
  font-weight: 400;
}

h1 {
  font-family: "DM Serif Display", serif;
  font-size: 50px;
  line-height: 125%;
  color: #292f36;
  font-weight: 400;
}

h2 {
  font-family: "DM Serif Display", serif;
  font-size: 35px;
  line-height: 125%;
  color: #292f36;
  font-weight: 400;
}

h3 {
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  line-height: 125%;
  color: #292f36;
  font-weight: 400;
}

h4 {
  font-family: "DM Serif Display", serif;
  font-size: 22px;
  line-height: 125%;
  color: #292f36;
  font-weight: 400;
}

h5 {
  font-family: "DM Serif Display", serif;
  font-size: 20px;
  line-height: 125%;
  color: #292f36;
  font-weight: 400;
}

h6 {
  font-family: "DM Serif Display", serif;
  font-size: 18px;
  line-height: 125%;
  color: #292f36;
  font-weight: 400;
}

p {
  font-family: "Jost", sans-serif;
  line-height: 150%;
  color: #4d5053;
  letter-spacing: 1%;
}

.email {
  font-family: "Jost", sans-serif;
  line-height: 300%;
  color: #4d5053;
  letter-spacing: 1%;
  font-size: 22px;
}

button {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 26px 54px;
  border-radius: 18px;
  border: none;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: 2%;
  font-weight: 600;
  color: #ffffff;
  align-items: center;
  gap: 10px;
  background-color: #292f36;
}
button .arrow {
  font-size: 18px;
  color: #cda274;
}
button:hover {
  background-color: rgb(29.9947368421, 34.3842105263, 39.5052631579);
}
@media (max-width: 700px) {
  button {
    font-size: 14px;
    padding: 20px 40px;
  }
}
@media (max-width: 550px) {
  button {
    font-size: 9px;
    padding: 17px 20px;
  }
}
@media (max-width: 400px) {
  button {
    font-size: 8px;
    padding: 20px 20px;
  }
  button .arrow {
    font-size: 12px;
  }
}

.button--primary {
  background-color: #cda274;
}
.button--primary .arrow {
  color: #292f36;
}
.button--primary:hover {
  background-color: rgb(29.9947368421, 34.3842105263, 39.5052631579);
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.main__wrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}
@media (max-width: 900px) {
  .main__wrapper {
    max-width: 800px;
  }
}
@media (max-width: 700px) {
  .main__wrapper {
    max-width: 550px;
  }
}
@media (max-width: 400px) {
  .main__wrapper {
    max-width: 350px;
  }
}

header div {
  margin: 28px 0;
  display: flex;
  align-items: center;
}
@media (max-width: 700px) {
  header div .logo img {
    width: 70%;
  }
}
@media (max-width: 400px) {
  header div .logo img {
    width: 50%;
  }
}
header nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  position: relative;
}
header nav .nav__links {
  display: flex;
  gap: 50px;
  position: relative;
}
@media (max-width: 900px) {
  header nav .nav__links {
    gap: 35px;
  }
}
header nav a {
  text-decoration: none;
  color: #292f36;
  font-size: 20px;
  font-family: "Jost", sans-serif;
}
header nav a:hover {
  color: #cda274;
}
header nav .nav__item {
  position: relative;
}
header nav .nav__item a {
  text-decoration: none;
  color: #292f36;
}
header nav .nav__item:hover {
  color: #cda274;
}
header nav .nav__item.dropdown .dropdown__menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 160px;
  z-index: 100;
}
header nav .nav__item.dropdown .dropdown__menu li a {
  padding: 10px;
  display: block;
  color: #292f36;
  text-decoration: none;
}
header nav .nav__item.dropdown .dropdown__menu li a:hover {
  color: #cda274;
}
header nav .nav__item.dropdown:hover .dropdown__menu {
  display: block;
}
header .searchIcon {
  margin-left: 30px;
}

.nav__check {
  display: none;
}

.nav__toggle {
  display: none;
}

.nav__toggle {
  display: none;
  font-size: 30px;
  cursor: pointer;
  margin-left: auto;
  color: #292f36;
}

@media (max-width: 756px) {
  header .nav__toggle {
    display: block;
    font-size: 32px;
    cursor: pointer;
    margin-left: auto;
  }
  header .nav__links {
    display: none !important;
    position: absolute;
    left: 0;
    z-index: 100;
  }
  header #navCheck:checked ~ .nav__links {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    top: 20px;
    left: auto;
    right: 20px;
    width: 100px;
    background: white;
    border: 1px solid #ddd;
  }
}
ol {
  font-family: "Jost", sans-serif;
  color: #4d5053;
  line-height: 270%;
  letter-spacing: 1%;
}
ol ::marker {
  color: #cda274;
}

li {
  font-family: "Jost", sans-serif;
  color: #4d5053;
  line-height: 300%;
  letter-spacing: 1%;
  font-size: 22px;
  white-space: nowrap;
}

footer {
  margin-bottom: 30px;
  margin-top: 200px;
}
footer .footer__container {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin-bottom: 134px;
  gap: 40px;
}
footer p {
  font-size: 22px;
}
footer a {
  text-decoration: none;
}
footer li {
  font-size: 22px;
}
footer li:hover {
  color: #cda274;
}
footer .footer__col figure {
  margin-bottom: 18px;
}
footer .footer__desc {
  margin-bottom: 31px;
  font-size: 22px;
}
footer .footer__socials {
  display: flex;
  gap: 54px;
  margin-bottom: 182px;
}
@media (max-width: 900px) {
  footer .footer__socials {
    margin-bottom: 100px;
  }
}
footer .footer__col--pages li {
  list-style: none;
}
footer .footer__col--pages h3 {
  margin-bottom: 9px;
}
footer .footer__col--services li {
  list-style: none;
}
footer .footer__col--services h3 {
  margin-bottom: 9px;
}
footer .footer__col--contact h3 {
  margin-bottom: 26px;
}
footer .footer__col--contact .address {
  margin-bottom: 20px;
  font-size: 22px;
}
footer .footer__col--contact .email {
  margin-bottom: 10px;
}
footer .footer__col--contact p:hover {
  color: #cda274;
}
footer .copyright {
  text-align: center;
  font-size: 22px;
}

.hero {
  position: relative;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  overflow: hidden;
  margin-bottom: 100px;
}
.hero img {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  border-bottom-left-radius: 200px;
}
@media (max-width: 700px) {
  .hero {
    margin-bottom: 20px;
  }
  .hero img {
    border-bottom-left-radius: 150px;
  }
}
.hero .hero__content {
  position: absolute;
  width: 567px;
  top: 50%;
  left: 11%;
  transform: translateY(-50%);
}
.hero .hero__content .display {
  margin-bottom: 10px;
}
.hero .hero__content p {
  margin-bottom: 20px;
}
@media (max-width: 900px) {
  .hero .hero__content {
    width: 400px;
  }
  .hero .hero__content .display {
    font-size: 45px;
  }
  .hero .hero__content p {
    font-size: 14px;
  }
}
@media (max-width: 700px) {
  .hero .hero__content {
    width: 200px;
  }
  .hero .hero__content .display {
    font-size: 30px;
  }
}
@media (max-width: 550px) {
  .hero .hero__content {
    width: 150px;
    top: 43%;
  }
  .hero .hero__content .display {
    font-size: 20px;
  }
  .hero .hero__content p {
    font-size: 10px;
    margin-bottom: 10px;
  }
}
@media (max-width: 440px) {
  .hero .hero__content .display {
    font-size: 18px;
  }
  .hero .hero__content p {
    font-size: 9px;
    margin-bottom: 7px;
  }
}

.summaries {
  display: flex;
  gap: 20px;
  padding: 0 22px;
}
.summaries article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  padding: 100px 10px;
  transition: background-color 0.2s;
}
.summaries article h3 {
  margin-bottom: 20px;
}
.summaries article p {
  font-size: 22px;
  margin-bottom: 50px;
  text-align: center;
}
.summaries article div {
  display: flex;
  gap: 12px;
}
.summaries article div a {
  text-decoration: none;
  color: #292f36;
  line-height: 125%;
  font-size: 20px;
  font-family: "Jost", sans-serif;
}
.summaries article div a:hover {
  color: #cda274;
}
.summaries article:hover {
  background-color: #f4f0ec;
  border-radius: 50px;
}
.summaries .arrow {
  font-size: 18px;
  color: #cda274;
}
@media (max-width: 700px) {
  .summaries {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .summaries article {
    width: 350px;
    margin-bottom: 0;
    padding: 60px 10px;
  }
}
@media (max-width: 400px) {
  .summaries article {
    width: 300px;
    padding: 50px 10px;
  }
}

.estimate {
  display: flex;
  gap: 75px;
  margin-bottom: 200px;
}
.estimate__kitchen {
  width: 54%;
  height: 700px;
  border-bottom-left-radius: 130px;
  border-top-right-radius: 270px;
}
.estimate__text {
  margin: 40px 0;
}
.estimate__text h1 {
  margin-bottom: 33px;
}
.estimate__text img {
  width: 93px;
  height: 93px;
}
.estimate__info {
  display: flex;
  gap: 15px;
  margin: 45px 0;
}
.estimate__info p {
  font-size: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.estimate__info p span {
  font-size: 24px;
  font-weight: 700;
}
.estimate button {
  padding: 26px 31px;
}
@media (max-width: 900px) {
  .estimate__kitchen {
    width: 50%;
    height: 600px;
  }
  .estimate__text h1 {
    font-size: 40px;
  }
  .estimate__info {
    margin: 30px 0;
  }
}
@media (max-width: 700px) {
  .estimate {
    gap: 50px;
  }
  .estimate__kitchen {
    width: 50%;
    height: 500px;
  }
  .estimate__text h1 {
    font-size: 30px;
  }
  .estimate__text img {
    height: 60px;
  }
  .estimate__text p {
    font-size: 12px;
  }
  .estimate__text p span {
    font-size: 18px;
  }
}
@media (max-width: 400px) {
  .estimate {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }
  .estimate__kitchen {
    width: 100%;
    height: auto;
    border-top-right-radius: 130px;
  }
  .estimate__text {
    margin-bottom: 0;
  }
}

.aboutUs {
  display: flex;
  flex-direction: column;
  gap: 38px;
  padding: 88px 24px;
  background-color: #f4f0ec;
  border-radius: 70px;
  align-items: center;
}
.aboutUs h1 {
  width: 547px;
  text-align: center;
}
@media (max-width: 400px) {
  .aboutUs h1 {
    font-size: 30px;
    width: 90%;
  }
}
.aboutUs div {
  display: flex;
  gap: 15px;
}
.aboutUs div article {
  background-color: #ffffff;
  border-radius: 25px;
  padding: 53px 37px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  transition: 0.3s;
}
.aboutUs div article:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.aboutUs div article div {
  gap: 23px;
  margin-bottom: 33px;
}
.aboutUs div article div p {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.aboutUs div article div p span {
  font-size: 20px;
  font-weight: 700;
  font-family: "DM Serif Display", serif;
}
.aboutUs div article div .description {
  font-size: 22px;
}
.aboutUs div article div .profile {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
@media (max-width: 900px) {
  .aboutUs div p {
    font-size: 12px;
  }
}
@media (max-width: 700px) {
  .aboutUs div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    text-align: center;
  }
}
@media (max-width: 400px) {
  .aboutUs div {
    width: 200px;
  }
  .aboutUs div article {
    padding: 40px 37px;
  }
}

.clients {
  margin: 150px 55px;
}
.clients img {
  width: 100%;
}

.ourProjects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
}
.ourProjects h1 {
  margin-bottom: 10px;
}
@media (max-width: 400px) {
  .ourProjects h1 {
    text-align: center;
  }
}
.ourProjects .description {
  margin-top: 8px;
  margin-bottom: 93px;
  text-align: center;
}
.ourProjects__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 100px;
  column-gap: 55px;
}
.ourProjects__container .example {
  width: 450px;
}
.ourProjects__container .example--first {
  border-top-right-radius: 70px;
}
.ourProjects__container .example--second {
  border-top-left-radius: 70px;
}
.ourProjects__container .example--third {
  border-bottom-right-radius: 70px;
}
.ourProjects__container .example--fourth {
  border-bottom-left-radius: 70px;
}
.ourProjects__container .project__name {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ourProjects__container .project__name p {
  font-size: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ourProjects__container .project__name p span {
  font-size: 25px;
  font-weight: 700;
  font-family: "DM Serif Display", serif;
}
.ourProjects__container .project__name p span:hover {
  color: #cda274;
}
.ourProjects__container .project__name a img {
  width: 70px;
  height: 70px;
}
@media (max-width: 900px) {
  .ourProjects__container {
    row-gap: 70px;
    column-gap: 40px;
  }
  .ourProjects__container .example {
    width: 350px;
  }
}
@media (max-width: 700px) {
  .ourProjects__container {
    display: flex;
    flex-direction: column;
  }
  .ourProjects__container .example--first {
    border-top-left-radius: 70px;
  }
  .ourProjects__container .example--second {
    border-top-left-radius: 0;
  }
  .ourProjects__container .example--third {
    border-bottom-right-radius: 0;
  }
  .ourProjects__container .example--fourth {
    border-bottom-right-radius: 70px;
  }
}

.statistics {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background-color: #f4f0ec;
  display: flex;
  gap: 45px;
  align-items: center;
  padding: 100px 0;
  justify-content: center;
}
@media (max-width: 950px) {
  .statistics {
    gap: 35px;
  }
}
@media (max-width: 800px) {
  .statistics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 700px) {
  .statistics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 400px) {
  .statistics {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.statistics h1 {
  color: #cda274;
  font-size: 80px;
}
@media (max-width: 950px) {
  .statistics h1 {
    font-size: 60px;
  }
}
@media (max-width: 700px) {
  .statistics h1 {
    font-size: 40px;
  }
}
.statistics p {
  font-size: 20px;
}
@media (max-width: 950px) {
  .statistics p {
    font-size: 18px;
  }
}
@media (max-width: 700px) {
  .statistics p {
    font-size: 12px;
  }
}
.statistics .statistic {
  text-align: center;
  padding: 0 20px;
  padding-right: 45px;
  border-right: 1px solid #cda274;
}
.statistics .statistic:last-child {
  border-right: none;
  padding-right: 0;
}
@media (max-width: 950px) {
  .statistics .statistic {
    padding: 0 10px;
    padding-right: 35px;
  }
}
@media (max-width: 700px) {
  .statistics .statistic {
    padding: 0 4px;
    padding-right: 30px;
  }
}
@media (max-width: 400px) {
  .statistics .statistic {
    border-right: 0;
    border-bottom: 1px solid #cda274;
    padding: 0 0;
    padding-right: 0;
    padding-bottom: 40px;
    margin: 0 150px;
  }
  .statistics .statistic:last-child {
    border-bottom: none;
  }
}

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 150px 0;
}
.news h1 {
  margin-bottom: 10px;
}
.news .description {
  font-size: 22px;
  margin-bottom: 50px;
  width: 700px;
}
.news__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
@media (max-width: 700px) {
  .news .description {
    font-size: 18px;
    width: 100%;
  }
  .news__container {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
@media (max-width: 400px) {
  .news .description {
    font-size: 14px;
  }
}

.card {
  background: #ffffff;
  border-radius: 45px;
  padding: 20px;
  text-align: left;
  border: 1px solid #eee;
  transition: 0.3s;
}
.card:nth-child(2) {
  background-color: #f4f0ec;
}
.card:nth-child(2) .arrow {
  background: #ffffff;
}
.card:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.card h3 {
  margin-bottom: 30px;
  margin-top: 20px;
}
.card h3:hover {
  color: #cda274;
}
@media (max-width: 700px) {
  .card {
    width: 70%;
  }
}

.card__image {
  position: relative;
}
.card__image img {
  width: 100%;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}
.card__image .tag {
  position: absolute;
  bottom: 15px;
  left: 15px;
  background: #ffffff;
  padding: 5px 12px;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  font-size: 15px;
}

.card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__bottom .arrow {
  width: 40px;
  height: 40px;
  background: #f4f0ec;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact {
  border-radius: 35px;
  background-color: #292f36;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 200px;
}
.contact h1 {
  color: #ffffff;
  margin-bottom: 11px;
}
.contact p {
  font-size: 22px;
  color: #ffffff;
  margin-bottom: 32px;
}
@media (max-width: 900px) {
  .contact {
    padding: 50px 180px;
  }
  .contact h1 {
    font-size: 40px;
  }
}
@media (max-width: 700px) {
  .contact {
    padding: 40px 50px;
  }
  .contact h1 {
    font-size: 30px;
  }
}
@media (max-width: 400px) {
  .contact {
    padding: 40px 40px;
  }
  .contact h1 {
    font-size: 25px;
  }
  .contact p {
    font-size: 18px;
    text-align: center;
  }
}

/*# sourceMappingURL=index.css.map */
