.display {
  font-family: "DM Serif Display", serif;
  font-size: 85px;
  line-height: 125%;
  color: #292F36;
}

h1 {
  font-family: "DM Serif Display", serif;
  font-size: 50px;
  line-height: 125%;
  color: #292F36;
}

h2 {
  font-family: "DM Serif Display", serif;
  font-size: 35;
  line-height: 125%;
  color: #292F36;
}

h3 {
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  line-height: 125%;
  color: #292F36;
}

h4 {
  font-family: "DM Serif Display", serif;
  font-size: 22px;
  line-height: 125%;
  color: #292F36;
}

h5 {
  font-family: "DM Serif Display", serif;
  font-size: 20px;
  line-height: 125%;
  color: #292F36;
}

h6 {
  font-family: "DM Serif Display", serif;
  font-size: 18px;
  line-height: 125%;
  color: #292F36;
}

p {
  font-family: "Jost", sans-serif;
  line-height: 150%;
  color: #4D5053;
  letter-spacing: 1%;
}

button {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 26px 54px;
  border-radius: 18px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: 2%;
  font-weight: 600;
  color: #FFFFFF;
  align-items: center;
  gap: 10px;
  background-color: #292F36;
}
button .arrow {
  font-size: 18px;
  color: #CDA274;
}
button:hover {
  background-color: rgb(29.9947368421, 34.3842105263, 39.5052631579);
}

.button--primary {
  background-color: #CDA274;
}
.button--primary:hover {
  background-color: rgb(198.253968254, 149.4523809524, 97.246031746);
}

* {
  margin: 0;
  padding: 0;
}

.main__wrapper {
  border: 1px solid red;
  width: 63%;
  margin: 0 auto;
  box-sizing: border-box;
}

header div {
  margin: 28px 0;
  display: flex;
  align-items: center;
}
header div nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}
header div nav .nav__links {
  display: flex;
  gap: 50px;
  position: relative;
}
header div nav .nav__links a {
  text-decoration: none;
  color: #292F36;
  line-height: 125%;
  font-size: 20px;
  font-family: "Jost", sans-serif;
}
header div nav .nav__links a:hover {
  color: #CDA274;
}
header div nav .nav__links .nav__item {
  position: relative;
}
header div nav .nav__links .nav__item a {
  text-decoration: none;
  color: #292F36;
  line-height: 125%;
  font-size: 20px;
  font-family: "Jost", sans-serif;
}
header div nav .nav__links .nav__item:hover {
  color: #CDA274;
}
header div nav .nav__links .nav__item.dropdown .dropdown__menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 160px;
  z-index: 100;
}
header div nav .nav__links .nav__item.dropdown .dropdown__menu li a {
  padding: 10px;
  display: block;
  color: #292F36;
  text-decoration: none;
}
header div nav .nav__links .nav__item.dropdown .dropdown__menu li a:hover {
  color: #CDA274;
}
header div nav .nav__links .nav__item.dropdown:hover .dropdown__menu {
  display: block;
}
header div nav .searchIcon {
  margin-left: 30px;
}

.hero {
  position: relative;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  overflow: hidden;
}
.hero img {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  border-bottom-left-radius: 200px;
}
.hero .hero__content {
  position: absolute;
  width: 567px;
  top: 50%;
  left: 360px;
  transform: translateY(-50%);
}
.hero .hero__content .display {
  margin-bottom: 10px;
}
.hero .hero__content p {
  margin-bottom: 20px;
}

/*# sourceMappingURL=index.css.map */
