p {
  font-family: $font-secondary;
  line-height: 150%;
  color: $text-light;
  letter-spacing: 1%;
  font-weight: 400;
  text-align: left;
}

.p-large {
  font-size: 22px;
}

.p-medium {
  font-size: 20px;
}

.p-small {
  font-size: 18px;
}
