@use "header";
@use "mainImage";
@use "colors";
@use "fonts";

.hero {
  background: url("../images/about-hero.png") center/cover no-repeat;
}

.quote {
  display: flex;
  justify-content: center;
  margin: 120px 0;
  overflow: visible;
}

.quote__card {
  position: relative;
  width: 500px;
  padding: 60px 0;
  text-align: center;
   h2 {
  font-style: italic;
  margin-bottom: 30px;
}
}

.quote__icon {
  font-size: 85px;
  font-family: fonts.$font-heading;
  color: colors.$primary-color2;
}


.author {
  font-size: 18px;
}

/* FORMAT ANASH */

.quote__card::before,
.quote__card::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 200px;
  height: 450px;
  border: 15px solid #{colors.$primary-color3};
}

.quote__card::before {
  left: -160px;
  border-right: none;
  border-radius: 70px 0 0 70px;
}

.quote__card::after {
  right: -160px;
  border-left: none;
  border-radius: 0 70px 70px 0;
}