@use "header";
@use "mainImage";
@use "colors";
@use "fonts";

.hero {
  background: url("../images/about-hero.png") center/cover no-repeat;
}

.quote {
  display: flex;
  justify-content: center;
  margin: 120px 0;
  overflow: visible;
}

.quote__card {
  position: relative;
  padding: 60px 0;
  text-align: center;
  h2 {
    font-style: italic;
    margin-bottom: 30px;
  }
}

.quote__icon {
  font-size: 85px;
  font-family: fonts.$font-heading;
  color: colors.$primary-color2;
}

.author {
  font-size: 18px;
}

.quote__card::before,
.quote__card::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 210px;
  height: 450px;
  border: 15px solid #{colors.$primary-color3};
}

.quote__card::before {
  left: -90px;
  border-right: none;
  border-radius: 70px 0 0 70px;
}

.quote__card::after {
  right: -90px;
  border-left: none;
  border-radius: 0 70px 70px 0;
}

.job {
  margin: 170px 0;
  display: flex;
  flex-direction: column;
  gap: 150px;
  align-items: center;

  &__concept {
    display: flex;
    gap: 40px;

    img {
      width: 50%;
      border-radius: 60px;
    }

    p {
      margin-top: 23px;
      margin-bottom: 40px;
      font-size: fonts.$large-paragraph;
    }
    &--portfolio {
        flex-direction: row-reverse;
    }
  }
}
