@use "fonts";
@use "colors";
@use "sass:color";

button {
  display: inline-flex;
  align-items: center;
  gap: 10px;

  padding: 26px 54px;
  border-radius: 18px;
  border: none;

  font-size: 18px;
  line-height: 125%;
  letter-spacing: 2%;
  font-weight: fonts.$semibold-font;
  color: colors.$color-white;
  align-items: center;
  gap: 10px;

  background-color: colors.$primary-color2;
  .arrow {
    font-size: 18px;
    color: colors.$primary-color1;
  }

  &:hover {
    background-color: color.adjust(colors.$primary-color2, $lightness: -5%);
  }
}

.button--large {
}

.button--primary {
  background-color: colors.$primary-color1;
  .arrow {
    color: colors.$primary-color2;
  }

  &:hover {
    background-color: color.adjust(colors.$primary-color1, $lightness: -5%);
  }
}
