@use "fonts";
@use "colors";
@use "sass:color";

button {
  display: inline-flex;
  align-items: center;
  gap: 10px;

  padding: 26px 54px;
  border-radius: 18px;
  border: none;

  font-size: 18px;
  line-height: 125%;
  letter-spacing: 2%;
  font-weight: fonts.$semibold-font;
  color: colors.$color-white;
  align-items: center;
  gap: 10px;

  background-color: colors.$primary-color2;
  .arrow {
    font-size: 18px;
    color: colors.$primary-color1;
  }

  &:hover {
    background-color: color.adjust(colors.$primary-color2, $lightness: -5%);
  }

  @media (max-width: 700px) {
    font-size: 14px;
    padding: 20px 40px;
  }

  @media (max-width: 550px) {
    font-size: 9px;
    padding: 17px 20px;
  }

  @media (max-width: 400px) {
    font-size: 8px;
    padding: 15px 18px;

    .arrow {
      font-size: 12px;
    }
  }
}

.button--primary {
  background-color: colors.$primary-color1;
  .arrow {
    color: colors.$primary-color2;
  }

  &:hover {
    background-color: color.adjust(colors.$primary-color2, $lightness: -5%);
  }
}
