@use "colors";
@use "fonts";

.contact__form {
  width: 600px;
    @media (max-width: 700px) {
    width: 500px;
  }
    @media (max-width: 400px) {
    width: 300px;
  }
}

.form__row {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;

}

input,
textarea {
  width: 100%;
  border: none;
  border-bottom: 2px solid #666;
  background: transparent;
  padding: 10px 0;
  font-size: 18px;
  font-family: "Jost", sans-serif;
}

textarea {
  margin-top: 20px;
  height: 120px;
  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
  border-bottom: 2px solid #cda274;
}
