$font-heading: "DM Serif Display", serif;
$font-body: "Jost", sans-serif;

$bold-font: 700;
$italic-font: italic;
$semibold-font: 600;
$regular-font: 400;
$small-paragraph: 18px;
$medium-paragraph: 20px;
$large-paragraph: 22px;
$larger-parapraph: 25px;
