@use "colors";
@use "fonts";
@use "typography";
@use "paragraph";
@use "buttons";

* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}

.main__wrapper {
  border: 1px solid red;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;

  @media (max-width: 900px) {
    max-width: 800px;
  }

  @media (max-width: 700px) {
    max-width: 550px;
    
  }
}
header {
  div {
    margin: 28px 0;
    display: flex;
    align-items: center;

    nav {
      display: flex;
      align-items: center;
      margin-left: auto;

      .nav__links {
        display: flex;
        gap: 50px;
        position: relative;

        @media (max-width: 900px) {
          gap: 35px;
        }
      }

      a {
        text-decoration: none;
        color: colors.$primary-color2;
        line-height: 125%;
        font-size: 20px;
        font-family: fonts.$font-body;
      }

      a:hover {
        color: colors.$primary-color1;
      }

      .nav__item {
        position: relative;
        a {
          text-decoration: none;
          color: colors.$primary-color2;
          line-height: 125%;
          font-size: 20px;
          font-family: fonts.$font-body;
        }

        &:hover {
          color: colors.$primary-color1;
        }
        &.dropdown {
          .dropdown__menu {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #fff;
            border: 1px solid #ddd;
            list-style: none;
            padding: 0;
            margin: 0;
            min-width: 160px;
            z-index: 100;

            li a {
              padding: 10px;
              display: block;
              color: colors.$primary-color2;
              text-decoration: none;

              &:hover {
                color: colors.$primary-color1;
              }
            }
          }

          &:hover .dropdown__menu {
            display: block;
          }
        }
      }
    }

    .searchIcon {
      margin-left: 30px;
    }
  }
}

.nav__check {
  display: none;
}

.nav__toggle {
  display: none;
  font-size: 30px;
  cursor: pointer;
  margin-left: auto;
  color: colors.$primary-color2;
}

.nav__check {
  display: none;
}

.nav__toggle {
  display: none;
}

@media (max-width: 756px) {
  .nav__toggle {
    display: block;
    font-size: 32px;
    cursor: pointer;
    margin-left: auto;
  }

  .nav__links {
    display: none !important;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 160px;
    z-index: 100;
  }

  #navCheck:checked ~ .nav__links {
    display: flex !important;
    flex-direction: column;
    width: 100%;
    background: white;
    padding: 10px 0;
  }

  .nav__links a {
    padding: 12px 20px;
  }

  .nav__item.dropdown {
    display: flex;
    flex-direction: column;
  }

  .dropdown__menu {
    display: none;
    padding-left: 20px;
  }

  .nav__item.dropdown:hover .dropdown__menu {
    display: flex;
  }
}
