@use "colors";
@use "fonts";
@use "typography";
@use "paragraph";
@use "buttons";

* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}

.main__wrapper {
  border: 1px solid red;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;

  @media (max-width: 900px) {
    max-width: 800px;
  }

  @media (max-width: 700px) {
    max-width: 550px;
  }
  @media (max-width: 400px) {
    max-width: 350px;
  }
}
header {
  div {
    margin: 28px 0;
    display: flex;
    align-items: center;

    @media (max-width: 700px) {
      .logo {
        img {
          width: 70%;
        }
      }
    }
    @media (max-width: 400px) {
      .logo {
        img {
          width: 50%;
        }
      }
    }
  }
  nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    position: relative;

    .nav__links {
      display: flex;
      gap: 50px;
      position: relative;

      @media (max-width: 900px) {
        gap: 35px;
      }
    }

    a {
      text-decoration: none;
      color: colors.$primary-color2;
      // line-height: 125%;
      font-size: 20px;
      font-family: fonts.$font-body;
    }

    a:hover {
      color: colors.$primary-color1;
    }

    .nav__item {
      position: relative;
      a {
        text-decoration: none;
        color: colors.$primary-color2;
      }

      &:hover {
        color: colors.$primary-color1;
      }
      &.dropdown {
        .dropdown__menu {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          background-color: #fff;
          border: 1px solid #ddd;
          list-style: none;
          padding: 0;
          margin: 0;
          min-width: 160px;
          z-index: 100;

          li a {
            padding: 10px;
            display: block;
            color: colors.$primary-color2;
            text-decoration: none;

            &:hover {
              color: colors.$primary-color1;
            }
          }
        }

        &:hover .dropdown__menu {
          display: block;
        }
      }
    }
  }

  .searchIcon {
    margin-left: 30px;
  }
}

.nav__check {
  display: none;
}
.nav__toggle {
  display: none;
}

.nav__toggle {
  display: none;
  font-size: 30px;
  cursor: pointer;
  margin-left: auto;
  color: colors.$primary-color2;
}

@media (max-width: 756px) {
  header {
    .nav__toggle {
      display: block;
      font-size: 32px;
      cursor: pointer;
      margin-left: auto;
    }

    .nav__links {
      display: none !important;
      position: absolute;
      // top: 80px;
      left: 0;
      //  background-color: #fff;
      //  border: 1px solid #ddd;
      //  list-style: none;
      //  padding: 0;
      // margin: 0;
      //  width: 160px;
      z-index: 100;
    }

    #navCheck:checked ~ .nav__links {
      display: flex !important;
      flex-direction: column;
      position: absolute;
      top: 20px;
      left: auto;
      right: 20px;
      width: 100px;
      background: white;
      border: 1px solid #ddd;
    }
  }
}
