$img-arrow-up: "images/ArrowUpRight.svg";
$img-call-icon: "images/Call Icon.svg";
$img-concept-details: "images/Concept_Details.svg";
$img-design: "images/Design.svg";
$img-facebook: "images/facebook icon.svg";
$img-idea: "images/Idea_for_Work.svg";
$img-instagram: "images/instagram icon.svg";
$img-linkedin: "images/linkedIn icon.svg";
$img-logo: "images/Logo.svg";
$img-mail: "images/Mail Icon.svg";
$img-next: "images/Next Icon.svg";
$img-perfection: "images/Perfection.svg";
$img-quotes-black: "images/quotes black.svg";
$img-quotes-brown: "images/quotes brown.svg";
$img-search: "images/Search Icon.svg";
$img-star: "images/Star Icon.svg";
$img-twitter: "images/twitter.svg";
$img-website: "images/Wesite Icon.svg";
