@use "colors";
@use "fonts";
@use "images";
@use "typography";

* {
  margin: 0;
  padding: 0;
}

.main-wrapper {
  border: 1px solid red;
  width: 100%;
  margin: 0 auto;
}

header {
  div {
    margin: 45px typography.$sides-margin;

  }
}
