@use "colors";
@use "fonts";
@use "typography";
@use "paragraph";
@use "buttons";
@use "header";
@use "footer";

.hero {
  position: relative;
  width: 100vw;

  margin-left: calc(-50vw + 50%);
  overflow: hidden;
  margin-bottom: 100px;

  @media (max-width: 650px) {
    margin-bottom: 20px;
  }
  img {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    border-bottom-left-radius: 200px;
  }

  .hero__content {
    position: absolute;
    width: 567px;
    top: 50%;
    left: 11%;
    transform: translateY(-50%);

    .display {
      margin-bottom: 10px;
      @media (max-width: 900px) {
        font-size: 45px;

        @media (max-width: 7000px) {
          font-size: 30px;
        }
      }
    }

    p {
      margin-bottom: 20px;
    }

    @media (max-width: 900px) {
      width: 400px;

      .display {
        font-size: 45px;
      }

      p {
        font-size: 14px;
      }
    }

    @media (max-width: 700px) {
      width: 200px;

      .display {
        font-size: 30px;
      }
    }
  }
}

.summaries {
  display: flex;
  gap: 20px;
  padding: 0 22px;

  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    padding: 100px 10px;
    transition: background-color 0.2s;

    h3 {
      margin-bottom: 20px;
    }
    p {
      font-size: fonts.$large-paragraph;
      margin-bottom: 50px;
      text-align: center;
    }
    div {
      display: flex;
      gap: 12px;
      a {
        text-decoration: none;
        color: colors.$primary-color2;
        line-height: 125%;
        font-size: fonts.$medium-paragraph;
        font-family: fonts.$font-body;

        &:hover {
          color: colors.$primary-color1;
        }
      }
    }
    &:hover {
      background-color: colors.$primary-color3;

      border-radius: 50px;
    }
  }
  .arrow {
    font-size: fonts.$small-paragraph;
    color: colors.$primary-color1;
  }

  @media (max-width: 700px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    article {
      width: 350px;
      margin-bottom: 0;
      padding: 60px 10px;
    }
  }
}

.estimate {
  display: flex;
  gap: 75px;
  margin-bottom: 200px;

  &__kitchen {
    width: 54%;
    height: 700px;
    border-bottom-left-radius: 130px;
    border-top-right-radius: 270px;
  }
  &__text {
    margin: 40px 0;
    h1 {
      margin-bottom: 33px;
    }
    img {
      width: 93px;
      height: 93px;
    }
  }
  &__info {
    display: flex;
    gap: 15px;
    margin: 45px 0;
    p {
      font-size: fonts.$large-paragraph;
      display: flex;
      flex-direction: column;
      justify-content: center;
      span {
        font-size: 24px;
        font-weight: fonts.$bold-font;
      }
    }
  }
  button {
    padding: 26px 31px;
  }
  @media (max-width: 900px) {
    &__kitchen {
      width: 50%;
      height: 600px;
    }
    &__text {
      h1 {
        font-size: 40px;
      }
    }
  }

  @media (max-width: 700px) {
    &__text {
      h1 {
        font-size: 35px;
      }

      img {
        height: 65px;
      }

      p {
        font-size: 14px;
      }
    }
  }
}

.aboutUs {
  display: flex;
  flex-direction: column;
  gap: 38px;
  padding: 88px 24px;
  background-color: colors.$primary-color3;
  border-radius: 70px;
  align-items: center;
  h1 {
    width: 547px;
    text-align: center;
  }
  div {
    display: flex;
    gap: 15px;

    article {
      background-color: colors.$color-white;
      border-radius: 25px;
      padding: 53px 37px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: fit-content;
      transition: 0.3s;

      &:hover {
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
      }
      div {
        gap: 23px;
        margin-bottom: 33px;
        p {
          font-size: 16px;
          display: flex;
          flex-direction: column;
          justify-content: center;

          span {
            font-size: fonts.$medium-paragraph;
            font-weight: fonts.$bold-font;
            font-family: fonts.$font-heading;
          }
        }
        .description {
          font-size: 22px;
        }
        .profile {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
    @media (max-width: 900px) {
      p {
        font-size: 12px;
      }
    }
    @media (max-width: 700px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 300px;
      text-align: center;
    }
  }
}

.clients {
  margin: 150px 55px;
  img {
    width: 100%;
  }
}
.ourProjects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
  .description {
    margin-top: 8px;
    margin-bottom: 93px;
    text-align: center;
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 100px;
    column-gap: 55px;

    .example {
      width: 450px;
      &--first {
        border-top-right-radius: 70px;
      }
      &--second {
        border-top-left-radius: 70px;
      }
      &--third {
        border-bottom-right-radius: 70px;
      }
      &--fourth {
        border-bottom-left-radius: 70px;
      }
    }
    .project__name {
      margin-top: 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        font-size: fonts.$large-paragraph;
        display: flex;
        flex-direction: column;
        justify-content: center;

        span {
          font-size: fonts.$larger-paragraph;
          font-weight: fonts.$bold-font;
          font-family: fonts.$font-heading;
          &:hover {
            color: colors.$primary-color1;
          }
        }
      }
      a {
        img {
          width: 70px;
          height: 70px;
        }
      }
    }
    @media (max-width: 900px) {
      row-gap: 70px;
      column-gap: 40px;
      .example {
        width: 350px;
      }
    }

    @media (max-width: 700px) {
      display: flex;
      flex-direction: column;

      .example {
        &--first {
          border-top-left-radius: 70px;
        }
        &--second {
          border-top-left-radius: 0;
        }
        &--third {
          border-bottom-right-radius: 0;
        }
        &--fourth {
          border-bottom-right-radius: 70px;
        }
      }
    }
  }
}

.statistics {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background-color: colors.$primary-color3;
  display: flex;
  gap: 45px;
  align-items: center;
  padding: 100px 0;
  justify-content: center;
  @media (max-width: 700px) {
    gap: 30px;
    padding: 70px 0;
  }
  h1 {
    color: colors.$primary-color1;
    font-size: 80px;

    @media (max-width: 900px) {
      font-size: 60px;
    }
    @media (max-width: 700px) {
      font-size: 40px;
    }
  }
  p {
    font-size: fonts.$medium-paragraph;

    @media (max-width: 900px) {
      font-size: fonts.$small-paragraph;
    }
    @media (max-width: 700px) {
      font-size: 12px;
    }
  }
  .statistic {
    text-align: center;
    padding: 0 20px;
    padding-right: 45px;
    border-right: 1px solid #cda274;
    &:last-child {
      border-right: none;
      padding-right: 0;
    }

    @media (max-width: 900px) {
      padding: 0 10px;
      padding-right: 35px;
    }
    @media (max-width: 700px) {
      padding: 0 4px;
      padding-right: 30px;
    }
  }
}

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 150px 0;
  h1 {
    margin-bottom: 10px;
  }
  .description {
    font-size: fonts.$large-paragraph;
    margin-bottom: 50px;
    width: 700px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }

  @media (max-width: 700px) {
    .description {
      font-size: fonts.$small-paragraph;
      width: 100%;
    }
    &__container {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }
}

.card {
  background: colors.$color-white;
  border-radius: 45px;
  padding: 20px;
  text-align: left;
  border: 1px solid #eee;
  transition: 0.3s;

  &:nth-child(2) {
    background-color: colors.$primary-color3;
    .arrow {
      background: colors.$color-white;
    }
  }

  &:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }

  h3 {
    margin-bottom: 30px;
    margin-top: 20px;
    &:hover {
      color: colors.$primary-color1;
    }
  }

  @media (max-width: 700px) {
    width: 70%;
  }
}

.card__image {
  position: relative;

  img {
    width: 100%;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
  }

  .tag {
    position: absolute;
    bottom: 15px;
    left: 15px;
    background: colors.$color-white;
    padding: 5px 12px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    font-size: 15px;
  }
}

.card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .arrow {
    width: 40px;
    height: 40px;
    background: colors.$primary-color3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.contact {
  border-radius: 35px;
  background-color: colors.$primary-color2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 200px;

  h1 {
    color: colors.$color-white;
    margin-bottom: 11px;
  }
  p {
    font-size: fonts.$large-paragraph;
    color: colors.$color-white;
    margin-bottom: 32px;
  }

  @media (max-width: 900px) {
    padding: 50px 180px;
    h1 {
      font-size: 40px;
    }
  }
   @media (max-width: 700px) {
    padding: 40px 50px;
    h1 {
      font-size: 30px;
    }
  }
}
