@use "typography";
@use "paragraph";
@use "fonts";
@use "lists";
@use "colors";
@use "buttons";
@use "footer";
@use "header";
@use "mainImage";

.hero {
  background: url("../images/Service-Single-img.svg") center/cover no-repeat;
}

.content {
  margin-bottom: 150px;
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 97px;
  }
  .right__first {
    color: colors.$primary-color1;
    margin-bottom: 53px;
  }
  .right__second {
    margin-bottom: 28px;
  }
}
.brands {
  display: flex;
  justify-content: space-between;
  margin: 0 55px 150px 55px;
}
.video {
  height: 374px;
  border-radius: 50px;
  background: url("../images/SS-Video.svg");
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;

  &__play {
    background: colors.$color-white;
    width: 132px;
    height: 132px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    &:hover {
      background: colors.$primary-color2;
    }
  }
  &__play img {
    width: 21px;
    height: 32px;
    display: block;
  }
}

.services {
  display: flex;
  //gap: 166px; dilke hapesire e madhe
  gap: 92px;
  margin: 0px 0px 150px 24px;
  //margin: 0px 100px 150px 84px; edhe me kta dilke jashte vijave

  .divider {
    border: 1px solid colors.$divider-color;
    width: 249px;
  }

  &__item {
    h1 {
      letter-spacing: 2%;
      margin-bottom: 23px;
    }
    li {
      font-size: 22px;
      line-height: 270%;
    }
  }
}
.aboutSection {
  display: flex;
  //gap: 82px; ne figma
  gap: 10px;
  margin-bottom: 200px;
  &__content {
    h1 {
      margin-bottom: 11px;
    }
    p {
      font-size: 22px;
      margin-bottom: 32px;
    }
    button {
      padding: 26px 54px;
    }
  }
}

.statistics {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background-color: colors.$primary-color3;
  display: flex;
  gap: 45px;
  align-items: center;
  justify-content: center;
  height: 457px;
  h1 {
    color: colors.$primary-color1;
    font-size: 80px;
  }
  p {
    font-size: 20px;
  }
  .statistic {
    text-align: center;
    padding: 0 20px;
    padding-right: 45px;
    border-right: 1px solid #cda274;
    &:last-child {
      border-right: none;
      padding-right: 0;
    }
  }
}
